.title-topmenu a {
	text-decoration: none;
	color: #ffffff;
}

.current-menu-item svg {
	display: none;
}

.click-thumb {
	display: block;
	height: 100%;
	width: 100%;
}

.ytctitle {
	margin-top: 7px;
}

#Group-23 text {
	direction: ltr;
}

.mobile-item-lightboxes h5 {
	text-align: center;
}

.posts-navigation {
	text-align: center;
	margin-top: 15px;
}

.posts-navigation a {
	text-decoration: none;
	font-family: 'Roboto Regular';
	color: #000;
}

.lang-item a {
	display: inline-block;
	padding: 5px 8px;
	background-color: #1a58a7;
	border-radius: 4px;
	font-size: 16px;
	margin-left: 12px;
}

.popup-youtube {
	color: #fff;
	font-family: 'Roboto Light';
	font-size: 14px;
	text-decoration: none;
}

.ytctitle {
	text-align: center;
}

#youtube-channel {
	width: 90%;
	margin-top: 25px;
}

.loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.loader-inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 120px;
	width: 120px;
	margin-top: -20px;
	margin-left: -60px;
	left: 50%;
	top: 50%;
	position: absolute;
}

.topmenu {
	background-color: rgba(14, 48, 89, 1);
	height: 96.8px;
	width: 100%;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	z-index: 3;
}

.title-topmenu {
	color: #fff;
}

.navigation {
	align-items: center;
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	margin-right: 27px;
	margin-left: 120px;
}

.mobile-navigation {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	text-align: center;
	background: rgba(14, 48, 89, 0.9);
	z-index: 4;
	flex-direction: column;
	transform: translatex(100%);
	justify-content: center;
	transition: 0.3s;
}

.close-mobilemenu {
	color: #fff;
	font-size: 50px;
	position: absolute;
	right: 3px;
	top: 0px;
}

.active-mobilemenu {
	transform: translatex(0%);
}

.close-mobilemenu:hover {
	cursor: pointer;
}

.social-mobilemenu {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-mobilemenu li {
	display: inline-block;
}

.mobile-navigation li {
	margin: 5px;
}

.mobile-navigation a {
	color: #fff;
	text-decoration: none;
	font-family: 'Roboto Regular';
	letter-spacing: 1.5px;
	font-size: 30px;
}

.logo {
	flex-basis: auto;
	margin-left: 40px;
}

.title-topmenu {
	margin-left: 33px;
	font-family: 'Roboto Condensed Bold';
	font-size: 28px;
	flex-basis: auto;
	flex-shrink: 0;
}

.point-topmenu {
	margin-bottom: 5px;
	display: inline-block;
	width: 6px;
	height: 6px;
	background-color: #ffffff;
	border-radius: 50%;
}

.navigation a {
	font-family: 'Roboto Bold';
	color: #fff;
	text-decoration: none;
}

.links-topmenu, 
.social-topmenu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-around;
}

.links-topmenu {
	font-size: 16px;
	flex-grow: 3;
}

.links-topmenu a {
	opacity: 0.8;
}

.links-topmenu .current-menu-item a {
	opacity: 1 !important;
}

.social-topmenu {
	align-items: center;
	flex-grow: 1;
	font-size: 20px;
}

.carousel-header {
	position: relative;
	z-index: 1;
}

.title-carousel {
	max-width: 430px;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 190px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed Bold';
	color: #fff;
	left: 52px;
	z-index: 2;
}

.title-carousel h1, 
.title-carousel h2 {
	background-color: rgba(14, 48, 89, 0.85);
	padding: 4px;
}

.title-carousel h1 {
	font-size: 60px;
}

.title-carousel h2 {
	font-size: 32px;
	margin-top: 6px;
}

.slide-carousel {
	max-height: 592px;
	height: 600px;
	overflow: hidden;
	background-size: cover;
	background-position-x: center;
}

.preloader-carousel-header {
	position: absolute;
	top: 0;
	left: 0;
	height: 600px;
	width: 100%;
	z-index: 2;
	background-color: #fff;
}

.slide-caption {
	background: linear-gradient(to left, rgba(14, 48, 89, 0.8), rgba(14, 48, 89, 0.000001));
	width: 50%;
	padding-right: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: right;
	height: 66px;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: 2;
	font-family: 'Roboto Regular';
	color: #fff;
}

.title-slide {
	font-size: 22px;
}

.author-slide {
	margin-top: 2px;
	font-size: 16px;
}

.controls-carousel {
	display: flex;
	width: 100%;
	justify-content: space-between;
	position: absolute;
	top: 370px;
	z-index: 2;
}

.prev-btn-carousel:hover, 
.next-btn-carousel:hover {
	cursor: pointer;
}

.prev-btn-carousel {
	margin-left: 40px;
}

.next-btn-carousel {
	margin-right: 40px;
}

.midmenu {
	position: relative;
	height: 101px;
	background-color: #1a58a7;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 4px 14px 0 rgba(148, 148, 148, 0.5);
	z-index: 2;
	overflow: hidden;
}

.item-midmenu {
	padding-left: 20px;
	padding-right: 20px;
}

.item-midmenu:nth-of-type(1) {
	padding-left: 45px;
}

.item-midmenu:nth-of-type(5) {
	padding-right: 45px;
}

.midmenu a {
	display: flex;
	align-items: center;
	height: 100%;
	text-decoration: none;
	color: #fff;
	font-family: 'Roboto Light';
	font-size: 22px;
}

.midmenu .current-menu-item {
	position: relative;
	background-color: #fff;
}

.midmenu .current-menu-item a {
	color: #0e3059;
}

.midmenu .current-menu-item:not(:last-child)::after {
	transform: scaleX(0.5);
	margin-left: -35px;
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width:60px;
	margin-top: -60px;
}

.border-midmenu {
	height: 66px;
	margin-top: 19px;
	border-right: 1px solid #f2f4f7;
	opacity: 0.2;
}

.mobile-midmenu {
	display: none;
	flex-direction: column;
	align-items: center;
}

.mobile-midmenu .menu-item {
	line-height: 42px;
	height: 42px;
	width: 100%;
	display: flex;
	text-align: left;
	align-items: center;
}

.arrow-mmm {
	display: inline-block;
	height: 15px;
	width: 15px;
	fill: #fff;
	opacity: 0.5;
	margin-left: 15px;
	margin-right: 10px;
}

.mobile-midmenu .menu-item a {
	font-size: 18px;
	text-decoration: none;
	font-family: 'Roboto Regular';
	color: #fff;
}

.mobile-midmenu .current-menu-item {
	justify-content: center;
	background: #fff !important;
}

.mobile-midmenu .current-menu-item a {
	color: #0e3059;
}

.mobile-midmenu li:nth-child(odd) {
	background: #1957A7;
}

.mobile-midmenu li:nth-child(even) {
	background: #144889;
}

.active-mobile-midmenu a{
	color: #0e3059;
}

.active-mobile-midmenu svg {
	display: none;
}

.content-wrapper {
	position: relative;
	z-index: 1;
	padding: 45px 0 45px 0;
	background-color: #f2f4f7;
}

.article-content {
	margin: auto;
	max-height: 450px;
	max-width: 1159.49px;
	display: flex;
	border-radius: 4px;
	overflow: hidden;
}

.text-article {
	position: relative;
	background-color: #fff;
	max-width: 370px;
	font-family: 'Roboto Regular';
}

.text-article h3 {
	font-size: 30px;
	padding: 43px 43px 19px 34px;
}

.text-article h3 a {
	color: #0e3059;
	text-decoration: none;
}

.text-article p {
	font-size: 16px;
	color: #000;
	padding: 0 43px 55px 34px;
	line-height: 1.38;
	opacity: 0.7;
}

.meta-text-article {
	position: absolute;
	bottom: 26px;
	left: 34px;
	letter-spacing: 0.9px;
	font-size: 14px;
	color: #323232;
}

.meta-text-article a {
	color: #323232;
	text-decoration: none;
}

.point-text-article {
	display: inline-block;
	margin-bottom: 3px;
	width: 5px;
	height: 5px;
	opacity: 0.4;
	background-color: #323232;
	border-radius: 50%;
}

.cat-article {
	font-family: 'Roboto Bold';
}

.date-article,
.cat-article {
	opacity: 0.6;
}

.video-article {
	border-radius: 0 4px 4px 0;
	flex-grow: 1;
	position: relative;
	height: 450px;
	overflow: hidden;
}

.video-article iframe,
.video-article object,
.video-article embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-article img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

.btn-wrapper {
	display: flex;
	justify-content: center;
}

.btn-wrapper a {
	text-decoration: none;
	color: #fff;
}

.showmore-btn {
	font-family: 'Roboto Bold';
	font-size: 16px;
	padding: 17px 56px;
	background-image: linear-gradient(327deg, #194f9b, #4477bd);
	border-radius: 4px;
	margin-top: 48px;
}

.showmore-btn p {
	opacity: 0.9;
}

.article-content {
	margin-bottom: 36px;
}

.article-content:last-of-type {
	margin-bottom: 0px;
}

.social-feeds {
	max-height: 600px;
	display: flex;
	justify-content: center;
	background-color: #f2f4f7;
	border-top: solid 1px rgba(14, 48, 89, 0.2);
}

.header-social-feeds {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

.header-social-feeds div {
	margin-left: 10px;
	padding: 7px;
	border-radius: 4px;
	font-family: 'Roboto Bold';
	font-size: 9px;
}

.header-social-feeds a {
	text-decoration: none;
	color: #fff;
}

.header-social-feeds i {
	margin-right: 7px;
	font-size: 13px;
}

.facebook-follow {
	background-color: #3b5998;
}

.twitter-follow {
	background-color: #1da1f2;
}

.instagram-follow {
	background-color: #e1306c;
}

.facebook-social-feeds,
.twitter-social-feeds,
.instagram-social-feeds {
	padding-top: 40px;
	max-width: 400px;
}

.facebook-social-feeds {
	padding-right: 40px;
}

.twitter-social-feeds {
	padding-left: 40px;
	padding-right: 40px;
	border-left: solid 1px rgba(14, 48, 89, 0.2);
	border-right: solid 1px rgba(14, 48, 89, 0.2);
}

.instagram-social-feeds {
	padding-left: 40px;
	padding-bottom: 55px;
}

.social-feeds h4 {
	font-family: "Roboto Bold";
	font-size: 18px;
	text-transform: uppercase;
	opacity: 0.9;
	color: #19488a;
}

.youtube-feed {
	background-image: linear-gradient(109deg, #205d92, #0e3059);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-youtube-feed {
	padding-top: 50px;
	display: flex;
	justify-content: center;
}

.header-youtube-feed a {
	font-family: 'Open Sans Regular';
	text-decoration: none;
}

.youtube-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 87px;
	height: 24px;
	border-radius: 4px;
	background-color: #e92100;
	color: #fff;
}

.youtube-btn span {
	font-size: 13px;
	opacity: 0.9;
	padding-left: 5px;
}

.header-youtube-feed h4 {
	font-family: 'Roboto Light';
	font-size: 22px;
	color: #fff;
	padding-left: 13px;
	opacity: 0.85;
}

.botborder-youtube-feed {
	padding-top: 30px;
	width: 75%;
	border-bottom: solid 1px #ffffff;
	opacity: 0.2;
}

.content-youtube-feed {
	display: flex;
	padding-top: 40px;
	justify-content: center;
}

.owl-stage {
	margin: auto;
}

.item-content-youtube-feed {
	max-width: 240px;
	margin-right: 50px;
	position: relative;
}

.play {
	position: absolute;
	height: 41px;
	width: 41px;
	opacity: 0.5;
	top: 75px;
}

.item-content-youtube-feed:last-of-type {
	margin-right: 0px;
}

.item-content-youtube-feed a {
	text-align: center;
	color: #fff;
	font-family: 'Roboto Regular';
	font-size: 16px;
	text-decoration: none;
}

.item-content-youtube-feed p {
	margin-top: 10px;
}

.lightboxes {
	background-color: #0e3059;
	border-top: solid 1px rgba(255, 255, 255, 0.2);
	border-bottom: solid 1px rgba(255, 255, 255, 0.2);
	display: flex;
	justify-content: center;
}

.mobile-lightboxes {
	background-color: #f2f4f7;
	padding: 9px 6px;
	display: flex;
	justify-content: center;
}

.mobile-lightboxes a {
	color: #0e3059;
	text-decoration: none;
	flex-grow: 1;
	flex-basis: 130px;
}

.mobile-item-lightboxes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	height: 130px;
}

.mobile-lightboxes a:first-of-type {
	border-right: 1px solid #e9e9e9;
	margin-left: -6px;
}

.mobile-lightboxes a:last-of-type {
	border-left: 1px solid #e9e9e9;
	margin-right: -6px;
}

.mobile-item-lightboxes h5 {
	margin-top: 8px;
	font-family: 'Roboto Bold';
	font-size: 14px;
	width: auto;
}

.lightboxes a {
	color: #fff;
	text-decoration: none;
}

.item-lightboxes {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 230px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 60px;
}

.item-lightboxes p {
	font-family: 'Roboto Light';
	font-size: 16px;
	opacity: 0.7;
	line-height: 1.38;
}

.item-lightboxes h5 {
	padding-top: 18px;
	padding-bottom: 18px;
	font-family: 'Roboto Regular';
	font-size: 24px;
}

.donate-lightboxes {
	padding-right: 60px;
}

.volunteer-lightboxes {
	padding-left: 85px;
	padding-right: 85px;
	border-left: solid 1px rgba(255, 255, 255, 0.2);
	border-right: solid 1px rgba(255, 255, 255, 0.2);
}

.subscribe-lightboxes {
	padding-left: 60px;
}

.mobile-social {
	display: flex;
	justify-content: center;
}

.mobile-facebook,
.mobile-twitter,
.mobile-instagram {
	height: 92px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto Bold';
	font-size: 14px;
}

.mobile-social a {
	flex-grow: 1;
	flex-basis: 100px;
	text-decoration: none;
	color: #fff;
}

.mobile-social i {
	margin-bottom: 10px;

}

.mobile-facebook {
	background-color: #3b5998;
}

.mobile-twitter {
	background-color: #1da1f2;
}

.mobile-instagram {
	background-color: #e1306c;
}

.page-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #0e3059;
	color: #fff;
	font-family: 'Roboto Light';
	padding-bottom: 40px;
}

.page-footer a {
	color: #fff;
	text-decoration: none;
}

.social-footer {
	display: flex;
	max-width: 170px;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 20px;
}

.social-footer li {
	margin-left: 20px;
	font-size: 20px;
}

.social-footer li:first-child {
	margin-left: 0px;
}

.footermenu {
	display: flex;
	opacity: 0.8;
}

.page-footer p {
	padding-top: 5px;
	opacity: 0.8;
}

.footermenu li:after {
	content: '\00a0|\00a0';
}

.footermenu li:last-child::after {
	content: '';
}

.hamburger {
	font-size: 20px;
}

.mobile-page-footer {
	background-color: #0e3059;
	font-family: 'Roboto Regular';
	font-size: 14px;
	text-align: center;
	color: #fff;
	padding-top: 24px;
	padding-bottom: 24px;
}

.mobile-page-footer p {
	opacity: 0.8;
}

/* Blog Post */
.post-article {
	margin-top: 57px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
	position: relative;
}

.post-article h1 {
	font-family: 'Roboto Bold';
	font-size: 36px;
	color: #0e3059;
	line-height: 1.08;
	max-width: 550px;
	text-align: center;
}

.meta-post {
	margin-top: 9px;
	margin-bottom: 23px;
	font-family: 'Roboto Bold';
	color: #323232;
	display: flex;
	align-items: center;
}

.cat-meta-post a {
	color: #323232;
	text-decoration: none;
}

.date-meta-post,
.cat-meta-post,
.author-meta-post {
	opacity: 0.7;
}

.point-post {
	margin-left: 15px;
	margin-right: 15px;
}

.main-image-post {
	max-width: 740px;
}

.post-content-wrapper {
	max-width: 100%;
}



.img-wrapper {
	display: flex;
	flex-direction: column;
}

.photo-author {
	width: 100%;
	text-align: right;
	font-family: 'Roboto Regular';
	font-size: 14px;
	opacity: 0.8;
	margin-top: 3px;
}

.post-content-wrapper {
	display: flex;
}

.post-main-content {
	display: flex;
	justify-content: center;
	max-width: 740px;
	margin-left: auto;
	margin-right: auto;
}

.img-wrapper {
	flex-grow: 1;
	position: relative;
	height: 380px;
	overflow: hidden;
	width: 100%;
}

.img-wrapper iframe,
.img-wrapper object,
.img-wrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.img-wrapper img {
	height: 100%;
}

.text-post {
	margin-top: 16px;
	max-width: 100%;
}

.text-post figure {
	max-width: 100%;
}

.text-post p {
	font-family: 'Roboto Regular';
	font-size: 18px;
	line-height: 1.33;
	margin-bottom: 24px;
}

.text-post>p:last-child {
	margin-bottom: 120px;
}

.text-post h2 {
	margin-bottom: 13px;
	font-family: 'Roboto Bold';
	font-size: 28px;
	color: #0e3059;
	line-height: 0.86;
}

.text-post img {
	margin-bottom: 24px;
	height: auto;
	max-width: 100%;
}

.about-header {
	position: relative;
}

.about-header img {
	width: 100%;
	margin-bottom: -4px;
}

.about-title {
	max-width: 400px;
}

.contact-title {
	max-width: 720px;
}

.post-article-about {
	margin-top: 30px !important;
}

.text-about {
	margin-top: 0;
}

.text-about>p:last-child {
	margin-bottom: 70px;
}

.item-contacts span {
	display: block;
}

.contact-main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f2f4f7;
}

.contacts {
	max-width: 940px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
	padding: 24px 35px;
	margin-top: 24px;
	margin-bottom: 24px;
}

.item-contacts {
	line-height: 1.33;
	font-family: 'Roboto Regular';
	font-size: 18px;
	flex-basis: auto;
	width: 244px;
	margin-bottom: 24px;
}

.item-contacts h3 {
	font-family: 'Roboto Bold';
}

.contacts-footer {
	width: 1010px;
	display: flex;
	border-radius: 4px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
	background-color: #fff;
	margin-bottom: 70px;
}

.contact-form {
	display: flex;
	flex-direction: column;
	padding: 13px 30px 23px 30px;
}

.contact-form h2 {
	font-family: 'Roboto Bold';
	font-size: 30px;
}

.contact-form input {
	width: 350px;
	height: 50px;
	margin-top: 16px;
}

.contact-form textarea {
	margin-top: 16px;
	width: 350px;
	height: 135px;
	padding-top: 12px;
}

.contact-form input,
.contact-form textarea {
	border-radius: 4px;
	border: 1px solid #1a58a7;
	box-sizing: border-box;
	padding-left: 17px;
	font-family: 'Roboto Regular';
	color: #000;
}

* {
	outline: none;
}

.submit-btn {
	background-color: #1a58a7;
	color: #fff;
	font-family: 'Roboto Bold';
	font-size: 20px;
	width: 350px;
	height: 50px;
	border-radius: 4px;
	border: 1px solid #1a58a7;
	margin-top: 14px;
}

.about-header {
	overflow: hidden;
}

.google-map {
	width: 300%;
	overflow: hidden;
}

.contact-form form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*
.addtoany_share_save_container {
	margin-left: auto !important;
	margin-right: auto !important;
}
*/

/* MEDIA QUERIES */
@media only screen and (max-width : 1300px) {
	.midmenu a {
		font-size: 20px;
	}
}

@media only screen and (max-width : 1240px) {
	.midmenu a {
		font-size: 15px;
	}
}

@media only screen and (max-width : 1200px) {
	.navigation {
		margin-left: 40px;
	}

	.title-topmenu {
		font-size: 22px;
	}

	.item-content-youtube-feed {
		margin-right: 5px;
	}

	.item-content-youtube-feed {
		margin-right: 20px;
	}
}

@media only screen and (max-width : 1140px) {
	.item-content-youtube-feed {
		margin-right: 10px;
	}
}

@media only screen and (max-width : 1027px) {
	.contacts {
		margin: 0;
	}

	.contacts-footer {
		margin-bottom: 0;
		flex-direction: column !important;
	}

	.contacts-footer,
	.google-map {
		width: 100%;
	}

	.contact-form h2 {
		text-align: center !important;
	}

	.contact-form {
		padding-bottom: 50px;
	}
}

@media only screen and (min-width : 1000px) {
	.hamburger {
		display: none;
	}

	.mobile-lightboxes {
		display: none;
	}

	.mobile-social {
		display: none;
	}

	.mobile-page-footer {
		display: none;
	}

	.text-article {
		min-width: 370px;
	}
}

@media only screen and (max-width : 999px) {
	.slide-carousel,
	.preloader-carousel-header {
		height: 440px;
	}

	.title-slide,
	.author-slide {
		margin-right: 15px;
	}

	.video-article img {
		height: auto;
		width: 100%;
	}

	.point-topmenu {
		margin-bottom: 2px;
	}

	.hamburger {
		color: #fff;
		display: inline-block;
		margin-right: 14px;
	}

	.logo {
		margin-left: 16px;
	}

	.logo img {
		width: 75%;
	}

	.topmenu {
		background-color: rgba(14, 48, 89, 1);
		height: 58px;
		position: relative;
		justify-content: space-between;
	}

	.navigation {
		display: none;
	}

	.controls-carousel {
		display: none;
	}

	.title-topmenu {
		margin-left: 0;
		margin-right: 16px;
		font-size: 16px;
	}

	.title-carousel {
		max-width: 410px;
		top: 260px;
		left: 15px;
	}

	.title-carousel h1 {
		font-size: 30px;
	}

	.title-carousel h2 {
		font-size: 20px;
	}

	.slide-caption {
		background: rgba(14, 48, 89, 0.85);
		width: 100%;
		padding-right: 0;
	}

	.midmenu {
		display: none;
	}

	.mobile-navigation {
		display: flex;
	}

	.laguage {
		margin-left: 0;
	}

	.mobile-midmenu {
		display: flex;
	}

	.text-article {
		order: 2;
		max-width: 100%;
	}

	.text-article h3,
	.text-article p {
		padding-left: 23px;
		padding-right: 23px;
	}

	.meta-text-article {
		left: 23px;
	}

	.text-article h3 {
		padding-top: 15px;
		font-size: 24px;
	}

	.text-article p {
		padding-bottom: 55px;
	}

	.video-article {
		border-radius: 4px 4px 0 0;
	}

	.article-content {
		flex-direction: column !important;
		margin-left: 15px;
		margin-right: 15px;
		max-height: 100%;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
	}

	.content-wrapper {
		padding-top: 25px;
	}

	.social-feeds {
		display: none;
	}

	.header-youtube-feed {
		flex-direction: column !important;
		align-items: center;
		padding-top: 30px;
	}

	.youtube-btn {
		margin-top: 20px;
	}

	.botborder-youtube-feed {
		display: none;
	}

	.header-youtube-feed a {
		order: 2;
	}

	.content-youtube-feed {
		padding-top: 25px;
	}
	
	.item-content-youtube-feed {
		margin-right: 0 !important;
	}

	.desktop-lightboxes {
		display: none;
	}	

	.page-footer {
		display: none;
	}

	.play {
		left: 0;
	}

	.video-article {
		height: 490px;
	}

	.about-header img {
		margin-bottom: -3px;
		margin-left: -100px;
		width: 200%;
	}

	.text-about>p:last-child {
		margin-bottom: 20px;
	}
}

@media only screen and (max-width : 920px) {
	.post-content-wrapper {
		flex-direction: column;
		padding: 0;
	}

	.share-bar {
		order: 2;
	}

	.post-article h1 {
		font-size: 28px;
		line-height: 1.07;
	}

	.post-article {
		margin-top: 18px;
	}

	.author-meta-post {
		display: none;
	}

	.last-point-post {
		display: none;
	}

	.meta-post {
		font-size: 14px;
		margin-top: 13px;
		margin-bottom: 19px;
	}

	.text-post p {
		font-size: 16px;
	}

	.text-post h2 {
		font-size: 24px;
	}

	.text-post>p:last-child {
		margin-bottom: 54px;
	}
}

@media only screen and (max-width : 500px) {
	.img-wrapper {
		height: 300px;
	}
}

@media only screen and (max-width : 760px) {
	.img-wrapper img {
		height: auto;
		width: 100%;
	}
}

@media only screen and (max-width : 500px) {
	.video-article {
		height: 300px;
	}
}

@media only screen and (max-width : 380px) {
	.title-carousel {
		/*max-width: 230px;*/
	}
}